*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  width: 100%;
  height: 100vh;
}
main{
  height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: black;
}
/* .container{
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;
}*/
.box{
  height: 300px;
  width: 300px;
  margin: 20px;
  background: linear-gradient(to right bottom,rgb(248, 66, 103),crimson);
  border-radius: 10px;
} 
.circle{
  height: 300px;
  width: 300px;
  margin: 20px;
  border-radius: 50%;
  background: linear-gradient(to right bottom,lightblue,cadetblue); ;
} 

button{
  padding: 30px 40px;
  border-radius: 50px;
  background: linear-gradient(lightgreen,seagreen);
  border: none;
  color: black;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
button:active{
  scale: 0.96;
}



