*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
/* #page1{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}
#page2{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: rgb(39, 196, 248);
}
#page3{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 130, 191);
}
#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
h1{
    font-size: 60px;
    position: relative;
    background-color: red;
}
h2{
    font-size: 60px;
    padding: 10px;
    position: relative;
    background-color: yellow;
} */

#page1{
    height: 100vh;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(119, 212, 243);
    padding: 5vw;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
}
#page2 h1{
    font-size: 32vw;
    font-weight: 600;
    text-transform: uppercase;
}